#main {
    background-image: linear-gradient(to top, black, 95%, transparent), url('https://www.myracedata.com/images/bg.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
}
#main-outlet {
    /*background-color: rgba(0, 0, 0, 0.75);*/
    background-image: url('https://www.myracedata.com/images/mobg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
